DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# DB (for docker-compose example)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Stripe keys (test)
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# Optional: second keypair for another currency
STRIPE_SECRET_KEY_EUR=
STRIPE_PUBLISHABLE_KEY_EUR=

# URLs used for redirect after checkout
SUCCESS_URL=http://localhost:8000/success/
CANCEL_URL=http://localhost:8000/cancel/
